/* Individual card styling */
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-link {
    display: block; 
    text-decoration: none; 
    height: 100%; 
  }
  
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #3d4d5d;
  }
  
  .card-subtitle {
    font-size: 0.875rem;
    color: #6c757d;
    margin: 0.5rem 0;
  }
  
  .card-address {
    font-size: 0.875rem;
    color: #6c757d;
  }