.navbar {
  background-color: #516780;
  padding: 0px;
  text-align: center;
  height: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.navbar a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
